<h1>hay suastra</h1>
<%= link_to 'my blog', controller: 'articles' %>

<!DOCTYPE html>
<html>
<head>

<style> 
p {
	text-align: center;
	color: red;
}

</style>	
</head>
<body>

<p>Superman Is Dead</p>


<p id="para1">Outsiders</p>


<p>Lady rose</p>	



</body>
</html>

<html>
<head>
<style> 
body {
	background-color:black;
}

p {
	font-family:  verdana;
	font-size: 20px;
}
	
</style>
</head>
<body>	

<html>
<head>
<style>


p.double {border-style: double;
border-color: red;}
p.groove {border-style: groove;
border-color: blue;}

</style>
</head>
<body>

<h2>Daftar lagu</h2>
<p>Superman Is Dead:</p>

<p class="double">A double border.</p>
<p class="groove">A groove border.</p>

</body>
</html>


</body>
</html>


