<%= form_with scope: :article, url: articles_path, local: true do |form| %>
	<p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
	

<p>
	<%= form.label :nama %><br>
	<%= form.text_field :nama %>
</p>

<p>
	<%= form.label :email %><br>
	<%= form.text_field :email %>
</p>

<p>
	<%= form.label :telp %><br>
	<%= form.text_field :telp %>
</p>

<p>
	<%= form.label :alamat %><br>
	<%= form.text_field :alamat %>
</p>

<p>
	<%= form.submit %>
</p>

<% end %>

<%= link_to 'back', articles_path %>

