<h1 class="suastra"<center>Suastra Emergency</center></h1>


<%= link_to 'Absen Dulu ', new_article_path%>
<a class="btn btn-primary" href="/articles/new" role="button">Absen</a><br><br>


<div class="row">
		<div class="col-md-6 col-sm-6">


			<table class="table table-responsive">
				<tr>
				<th>no</th>	
				<th>nama</th>
				<th>email</th>
				<th>telp</th>
				<th>alamat</th>
				<th>Action</th>
				</tr>

				<% @articles.each_with_index do |article, i| %>
					 <tr>
					 	<td><%= i+1 %></td>
						<td><%= article.nama %></td>
						<td><%= article.email %></td>
						<td><%= article.telp %></td>
						<td><%= article.alamat %></td>
						<td><%= link_to 'show', articles_path(article) %></td>
						<td><%= link_to 'edit', edit_article_path(article) %></td>
						<td><%= link_to 'destroy', article_path(article), method: :delete,
							data: { confirm: 'apa kamu yakin'} %></td>
					</tr>
				<% end %>
			</table>
		</div>
	<div class="col-md-6 col-sm-6">
			<%= image_tag("yugcy.jpeg", class: "img.fluid img.responsive")%>
					
	<html>
<head>
<style> 
body {
	background-color:lightgrey;
}
</style>
</head>
<body>	
				
	</div>
</div>
