<%= form_with scope: :article, url: articles_path, local: true do |form| %>
	
	<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
	<%= form.label :nama %><br>
	<%= form.text_field :nama %>
</p>

<p>
	<%= form.label :email %><br>
	<%= form.text_field :email %>
</p>

<p>
	<%= form.label :telp %><br>
	<%= form.text_field :telp %>
</p>

<p>
	<%= form.label :alamat %><br>
	<%= form.text_field :alamat %>
</p>

<p>
	<%= form.submit %>
</p>

<% end %>

<%= link_to 'back', articles_path %>

