<p>
	<strong>nama:<strong>
	<%= @article.nama %>
</p>

<p>
	<strong>email:<strong>
	<%= @article.email %>
</p>

<p> 
	<strong>No telp:<strong>
	<%= @article.telp %>
</p>

<p>
	<strong>alamat:<strong>
	<%= @article.alamat %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>

	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [@article, @article.comments.build ], local: true) do |form| %>

	<p>
		<%= form.label :commenter %><br>
		<%= form.text_field :commenter %>
	</p>
 
	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body %>
	</p>

	<p>
		<%= form.submit %>
	</p>	
	<% end %> 

<%= link_to 'edit', articles_path(@article) %>
<%= link_to 'back', articles_path %>